
run = "cd next-frontend && npm run dev"
hidden = [".build", ".config"]

[nix]
channel = "stable-23_05"

[deployment]
run = ["sh", "-c", "cd next-frontend && NODE_ENV=production npm run start"]
build = ["sh", "-c", "cd next-frontend && npm ci && npm run build"]
deploymentTarget = "cloudrun"
